*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.color{
    color:#F9FAF8;
    background-color:#1F2937;
    height:400px
}

.logo{
    font-size:24px;
    font-weight: bold;
}

.menu-container{
    display:flex;
    justify-content:center;
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    padding: 20px 0;
}

.menu{
    display:flex;
    justify-content:space-between;
    width:900px;
}

.menu-link{
    display:flex; 
    justify-content:flex-end;
    color:#E5E7EB;
    font-size:18px;
}

.link{
    margin-left:30px;
}

.awesome-container{
    display:flex;
    justify-content:center;
}

.awesome{
    width:900px;
    padding: 60px 0;
    align-items:center;
    display:flex;
    justify-content:space-between;
   
}

.awesome-text{
    width:350px;
}

.awesome-placeholder{
    display:flex;
    justify-content:flex-end;
    margin-right:160px;
}

.button{
    font-weight:bold;
    width:100px;
    height:30px;
    background-color:#3882F6;
    color:#F9FAF8;
    text-align:center;
    border-radius:9px;
    border:0;
}

.awesome-text h1{
    margin-bottom:10px;
}

.awesome-text p{
    margin-bottom:10px;
}

.middle{
    display:flex;
    justify-content:center;
    padding:20px 0;
}

.middle-container{
    width:900px;
    height:250px;
}

.title{
    display:flex;
    font-weight:bold;
    justify-content:center;
    font-size:27px;
}

.images{
    display:flex;
    justify-content:space-around;
    align-items:flex-end
}

.images-container{
    display:flex;
    align-items:flex-end;
}

.footer{
    display:flex;
    justify-content:center;
    padding:30px 0;
    background-color:#1F2937;
    color:#F9FAF8;
}

.quote-section{
    display:flex;
    justify-content:center;
    background-color:#E5E7EB;
    font-family:light-italic;
    color:#1F2937;
}

.quote-container{
    /*height:370px;*/
    padding:70px 0;
    width:900px;
}

.another.quote-container{
    /*display:flex;
    align-items:center;*/
}

.quote-format{
    font-size:36px;
}

.quote-author{
    font-weight:bold;
    font-size:20px;
}

.author-position{
    /*width:900px;*/
    display:flex;
    align-self:flex-end;
    justify-content:flex-end;
    margin-right:90px;
}

.action-section{
    display:flex;
    justify-content:center;
    height:300px;
    align-items:center;
}

.window{
    display:flex;
    justify-content:center;
    background-color:#3882F6;
    color:#F9FAF8;
    height:150px;
    width:900px;
    border-radius:9px;
}

.window-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:650px;
}

.window-container .button{
    border:2px solid;
    height:40px;
    width:120px;
    align-items:center;
    justify-content:center;
    display:flex;
}

